/* styles.css */
body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Arial', sans-serif;
}

.navbar, .card {
    background-color: #1f1f1f;
    border: none;
}

.navbar .nav-link, .card-title {
    color: #bb86fc;
}

.nav-link:hover, .btn:hover {
    color: #03dac6;
}

.btn-primary, .btn-secondary, .btn-danger {
    background-color: #bb86fc;
    border-color: #bb86fc;
    color: #121212;
    transition: background-color 0.3s ease;
}

.btn-primary:hover, .btn-secondary:hover, .btn-danger:hover {
    background-color: #03dac6;
    border-color: #03dac6;
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 10px;
    width: 20rem;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.see-more {
    color: #03dac6;
    cursor: pointer;
    transition: color 0.3s ease;
}

.see-more:hover {
    color: #bb86fc;
}
